{{- if .Capabilities.APIVersions.Has "jenkins.io/v1/Release" }}
apiVersion: jenkins.io/v1
kind: Release
metadata:
  creationTimestamp: "2021-05-27T16:00:05Z"
  deletionTimestamp: null
  name: '{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}'
spec:
  commits:
  - author:
      email: v.behar@free.fr
      name: Vincent Behar
    branch: master
    committer:
      email: v.behar@free.fr
      name: Vincent Behar
    message: |
      fix: handling draft PRs without errors

      ensure we won't log the following error when handling draft PRs switching to the "ready for review" state:

          Could not coerce pull_request event to a GenericCommentEvent. Unknown 'action': "ready_for_review".

      by adding the missing actions to the list of actions that are not related to a PR comment
    sha: 91896f31a437bde49f9179f139f27e99de220733
  gitHttpUrl: https://github.com/jenkins-x/lighthouse
  gitOwner: jenkins-x
  gitRepository: lighthouse
  name: '{{ .Chart.Name }}'
  releaseNotesURL: https://github.com/jenkins-x/lighthouse/releases/tag/v1.0.46
  version: 1.0.46
status: {}
 
{{- end }}
