{{- if .Capabilities.APIVersions.Has "jenkins.io/v1/Release" }}
apiVersion: jenkins.io/v1
kind: Release
metadata:
  creationTimestamp: "2021-05-12T05:53:37Z"
  deletionTimestamp: null
  name: '{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}'
spec:
  commits:
  - author:
      email: cameron@drivenow.com.au
      name: Cameron Braid
    branch: master
    committer:
      email: cameron@drivenow.com.au
      name: Cameron Braid
    message: |
      fix: fix uses resolver using incorrect version of uses:task.yaml
    sha: c93a1962efece58d0016a7337358da28d7124272
  gitHttpUrl: https://github.com/jenkins-x/lighthouse
  gitOwner: jenkins-x
  gitRepository: lighthouse
  name: '{{ .Chart.Name }}'
  releaseNotesURL: https://github.com/jenkins-x/lighthouse/releases/tag/v1.0.39
  version: 1.0.39
status: {}
 
{{- end }}
