{{- if .Values.webhooks.ingress.enabled }}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ template "webhooks.name" . }}
  labels:
    app: {{ template "webhooks.name" . }}
  annotations:
    {{- toYaml .Values.webhooks.ingress.annotations | nindent 4 }}
spec:
  rules:
  {{- range (required "A valid ingress host is required when ingress enabled!" .Values.webhooks.ingress.hosts) }}
  - host: {{ . | quote }}
    http:
      paths:
        - backend:
            serviceName: {{ default (include "webhooks.name" $) $.Values.webhooks.serviceName }}
            servicePort: {{ $.Values.webhooks.service.externalPort }}
  {{- end }}
{{- end }}
